<h1 style="font-family:verdana;color:#a90329;background:#000;">Πρόγραμμα TrohkaWebRadio</h1>
</br>

<h2 style="font-family:arial;color:#a90329;">Δευτέρα</h2></br>
4:00 - 6:00 μ.μ. Pink Speech - Αγγελική Παπαγεωργίου, Ευαγγελία Αργυροπούλου</br>
6:00 - 8:00 μ.μ. Breaking the Rules - Κώστας Κοσκοβίτης</br>
8:00 - 10:00  μ.μ.  Whole Lotta Rock - Στέλιος Ζιάμας, Βαγγέλης Αλεξίου</br>
10:00-12:00  μ.μ.  Rockanidia Radio Show  -  Βαλάντης</br>
</br>
<h2 style="font-family:arial;color:#a90329;">Τρίτη</h2></br>
4:00 - 6:00 μ.μ. Νέα εκπομπή από το 2013</br>
6:00 - 8:00 μ.μ. Wrecktime - Γιάννης Παπανικολάου</br>
8:00-10:00  μ.μ. Ο Καλός Ο Μύλος  -  Κωνσταντίνος Λιάππης, Κωστής Τριανταφύλλου</br>
10:00-12:00  μ.μ. Μουσικη ART.οποιεια - Ευθύμης Στεργιόπουλος , Μάριος Φλώρος</br>
</br>
<h2 style="font-family:arial;color:#a90329;">Τετάρτη</h2></br>
4:00 - 6:00 μ.μ. Bolek Lolek - Δημήτρης Δημητρακόπουλος, Μάκης Γκέβρος</br>
6:00-8:00 μ.μ Υπ' Ατμον - Δημήτρης Ζαφειρούλης</br>
8:00-10:00  μ.μ. Shake + Bake -  Ζησης , Παναγιωτης , Δημητρης</br>
10:00-12:00  μ.μ. Out of time – Βασίλης Κατσαμπέλας , Βασιλης Δημητρακοπουλος</br>
</br>
<h2 style="font-family:arial;color:#a90329;">Πέμπτη</h2></br>
4:00-6:00 μ.μ. Blending - Γιώργος Θεοδωράκος, Σύλια Ρομοσιού </br>
6:00 - 8:00 μ.μ. Kaleidoscopic Universe - Νικος Μπουτης </br>
8:00-10:00  μ.μ. Bak in Black - Κων/νος Μπακαλεξης</br>
10:00-12:00  μ.μ. Γου μπορεί - Δημήτρης Γούναρης</br>
</br>
<h2 style="font-family:arial;color:#a90329;">Παρασκευή</h2></br>
8:00 - 10:00 μ.μ. Plastic City - Δημήτρης Χουλιάρας</br>
10:00-12:00 μ.μ. Βραδινά Παραμύθια - Γιώργος Γούναρης</br>
</br>
<h2 style="font-family:arial;color:#a90329;">Σάββατο</h2></br>

8:00-10:00 μ.μ. Spread your soul - Μαρια Ριζιωτη</br>
10:00-12:00 μ.μ. Μουσικές Αποδράσεις – Στέλιος Μπασαγιάννης</br>
</br>

<h2 style="font-family:arial;color:#a90329;">Κυριακή</h2></br>
8:00-10:00 μ.μ. Like Fire – Βασίλης Δημητρίου</br>
10:00-12:00 μ.μ.Φιάλες οξυγόνου -  Κώστας Χαχόπουλος</br>
</br>
------------------------------------
</br>
Κενές ώρες TROHKA RADIO MUSIC

