/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
     margin: 0;
     background-image: asset_url("bg.jpg", image);
     background-size: 1440px 800px;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content .span9 {
	padding-left: 0px;
	display: compact;
	background-image: asset_url("whitebg.jpg", image);
	background-color: #000;
  
}

.content .span9 p {
	color: #fff;
}

.logo{
	padding-bottom: 10px;
}

.player{
	padding-bottom: 10px;
	padding-top: 25px;
	
}
.streaminfo{
	padding-bottom: 10px;
	color: #a90329;
	
}
.streaminfo a {
	color: #f0f0f3;
	
}

.cctrack {
	padding-bottom: 10px;
}
.cctrack .cccover {
	padding: 2px;
	background-color: white;
	border: 1px solid #C6C6C6;
	width: 10px;
	height: 43px;
	float: left;
	margin-right: 8px;
	visibility: hidden;
}
.cctrack .cctitle {
	color: #0f0f0f;
	font-weight: bold;
	padding-left: 40px;
	
}
.cctrack .ccnowplaying {
	font-weight: bold;
}
.cctrack .ccartist {
	color: #A8A8A8;
	margin-bottom: 6px;
	padding-left: 40px;
	
}

.cctrack a.ccbuy,
.cctrack a.ccbuy:link,
.cctrack a.ccbuy:active,
.cctrack a.ccbuy:visited,
.cctrack a.ccbuy:hover {
	color: #919191;
	font-size: 0.9em;
	text-decoration: none;
	font-weight: normal;
}
.cctrack a.ccbuy:hover {
	text-decoration: underline;
}

.recenttracks{
	
	padding-top: 20px;
}
