// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
background: #a90329;
color: #434343;
height: 30px;
font-size: 22px;
color: #ffffff;
padding-left: 18px;
padding-top: 12px;
}
.title p {
color: #ffffff;
font-size: 18;
}

p{
padding-left: 10px;
padding-top:10px;
}




